
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= gravatar_image_tag(message.email) %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= message.subject %></strong> <small><%= link_to message.email, "mailto: #{message.email}"%></small> <small><%= message.created_at %></small>
        <br>
        <%= message.body %>
      </p>
    </div>
  </div>
  <div class="media-right">
    <%= link_to "", mailbox_message_path(@mailbox, message), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" %>
    <!-- <button class="delete"></button> -->
  </div>
</article>
