
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= gravatar_image_tag(message.email) %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= message.subject %></strong> <small><%= message.email %></small> <small><%= message.created_at %></small>
        <br>
        <%= message.body %>
      </p>
    </div>
  </div>
  <div class="media-right">
    <button class="delete"></button>
  </div>
</article>
