
<article class="media message-item">
  <% if message.message_fields.key? "email" %>
  <figure class="media-left">
    <p class="image is-48x48">
      <%= gravatar_image_tag(message.message_fields["email"])%>
    </p>
  </figure>
  <% end %>
  <div class="media-content">
    <div class="content">
      <p>
        <small><%= link_to message.message_fields["email"], "mailto: #{message.message_fields["email"]}"%></small>
        <small><%= message.created_at %></small>
        <%= is_new(message) %>
        <br>
        <%= structured_fields_for(message) %>
      </p>
    </div>
  </div>
  <div class="media-right">
    <%= link_to "", mailbox_message_path(@mailbox, message), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" %>
  </div>
</article>
