
<!-- Main container -->
<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-5">
        <strong><%= @messages.size %></strong> <%= "message".pluralize(@messages.size) %>
      </p>
    </div>
    <div class="level-item">
      <%= form_tag(mailbox_messages_path(@mailbox), method: :get) do %>
      <div class="field has-addons">
          <p class="control is-expanded">
            <%= text_field_tag :q, params[:q], placeholder: "key: search term", class: "input" %>
          </p>
          <p class="control">
          <%= submit_tag 'Search', name: nil, class: "button" %>
          </p>
      </div>
      <% end %>
    </div>
  </div>

  <!-- Right side -->
  <div class="level-right">
    <p class="level-item" id="toggle-view"><a class="button is-small" href="#">Toggle view</a></p>
    <p class="level-item"><%= link_to "All", mailbox_messages_path() %></p>
    <p class="level-item"><%= link_to "Day", mailbox_messages_path(range: 'today') %></p>
    <p class="level-item"><%= link_to "Week", mailbox_messages_path(range: 'week') %></p>
    <p class="level-item"><%= link_to "Month", mailbox_messages_path(range: 'month') %></p>
  </div>
</nav>

<div class="messages">
  <% if @messages.any? %>
    <%= render @messages %>
  <% else %>
    <p class="no-messages has-text-centered">no messages</p>
  <% end %>
</div>

<%= paginate @messages %>
