<h1 class="title is-4 has-text-centered">Create an Account</h1>
<div class="box">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <p class="control has-icons-left">
      <%= f.input_field :email, autofocus: true, class: "input" %>
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
      <p class="help is-danger">
        <%= f.object.errors[:email].join(", ") %>
      </p>
    </p>
  </div>

  <div class="field">
    <%= f.label :password, class: "label" %>
    <p class="control has-icons-left">
      <%= f.input_field :password, autocomplete: "off", class: "input" %>
      <span class="icon is-small is-left">
        <i class="fa fa-lock"></i>
      </span>
      <p class="help is-danger">
        <%= f.object.errors[:password].join(", ") %>
      </p>
    </p>
  </div>

  <div class="field">
    <p class="control">
      <%= f.button :submit, "Sign up", class: "button is-primary" %>
    </p>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
