<h1 class="title">Subscription settings</h1>
  <div class="columns">
    <div class="column is-3">
      <%= simple_form_for(@subscription) do |form| %>
        <div class="field">
          <p class="control has-icons-left is-expanded">
            <%= form.input_field :plan_id,
                                  collection: @plans.map {|plan| ["#{plan.name} - $#{plan.cost}", plan.id]},
                                  class: 'input', label: false, prompt: 'Select a plan', readonly: true %>
            <span class="icon is-small is-left">
              <i class="fa fa-bars"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control has-icons-left is-expanded">
            <%= form.input_field :duration,
                                  collection: Plan::RANGE.map {|m| ["#{pluralize(m, 'month')}", m]},
                                  class: 'input', label: false, prompt: 'Add months' %>
            <span class="icon is-small is-left">
              <i class="fa fa-clock-o"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control">
            <%= form.submit "Continue", class: "button is-primary is-fullwidth", id: "subscribe" %>
            <a class="button is-loading is-primary" id="loading-pay-btn">Loading</a>
          </p>
        </div>
      <% end %>
    </div>

    <div class="column is-3">
      <div class="card current-plan">
        <span id="cpl">current plan</span>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= current_user.subscription.plan.name %></p>
              <p class="subtitle is-6">$ <%= current_user.subscription.plan.cost %></p>
            </div>
          </div>

          <div class="content">
            <small>Expires: </small><br/>
            <small><%= current_user.subscription.end_date.strftime("%I:%M %p - %m %b %Y") %></small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-3">
      <div class="content is-small">
        <p>After clicking continue you'll be redirected to paypal checkout page.</p>
      </div>
    </div>
  </div>
