<%= simple_form_for(@mailbox) do |form| %>
  <% if @mailbox.errors.any? %>
    <div id="error_explanation" class="notification is-danger">
      <button class="delete"></button>
      <h2><%= pluralize(@mailbox.errors.count, "error") %> prohibited this mailbox from being saved:</h2>

      <ul>
      <% @mailbox.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.input_field :name, id: :mailbox_name, class: "input", placeholder: "My blog contact form" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :site_url, "Allowed fields", class: "label" %>
    <div class="control">
      <%= form.input_field :allowed_fields, value: @mailbox.allowed_fields, id: :mailbox_allowed_fields, class: "input", placeholder: "email, phone, body" %>
    </div>
  </div>

  <% if @mailbox.messages.any? %>
  <article class="message is-info">
    <div class="message-body">
      Looks like you already have some messages in your mailbox, please delete them before editing allowed fields.
    </div>
  </article>
  <% end %>

  <div class="field">
    <%= form.label :site_url, "Redirect Url", class: "label" %>
    <div class="control">
      <%= form.input_field :site_url, id: :mailbox_site_url, class: "input", placeholder: "username.github.io" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :note, class: "label" %>
    <div class="control">
      <%= form.input_field :note, id: :mailbox_note, class: "textarea", placeholder: "what is this mailbox for? or any other note" %>
    </div>
  </div>


  <div class="field">
    <div class="control">
      <label class="checkbox">
      <%= form.input_field :should_reply, as: :boolean, checked_value: true, unchecked_value: false %>
      Reply to submitter
      </label>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.input_field :reply_body, class: "textarea", placeholder: "Reply with this text. You're not restricted but keep it short.", disabled: true %>
    </div>
  </div>


  <div class="field is-grouped">
    <p class="control">
      <%= form.submit "Save changes", class: "button is-primary" %>
    </p>
    <p class="control">
      <%= link_to 'Cancel', :back, class: "button" %>
    </p>
  </div>
<% end %>
