<%= form_with(model: mailbox, local: true) do |form| %>
  <% if mailbox.errors.any? %>
    <div id="error_explanation" class="notification is-danger">
      <button class="delete"></button>
      <h2><%= pluralize(mailbox.errors.count, "error") %> prohibited this mailbox from being saved:</h2>

      <ul>
      <% mailbox.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, id: :mailbox_name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :site_url, class: "label" %>
    <div class="control">
      <%= form.text_field :site_url, id: :mailbox_site_url, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :note, class: "label" %>
    <div class="control">
      <%= form.text_area :note, id: :mailbox_note, class: "textarea", placeholder: "what is this mailbox for? or any other note" %>
    </div>
  </div>


  <div class="field is-grouped">
    <p class="control">
      <%= form.submit "Save changes", class: "button is-primary" %>
    </p>
    <p class="control">
      <%= link_to 'Cancel', :back, class: "button" %>
    </p>
  </div>
<% end %>
