
<p>
  <strong>Site url:</strong>
  <%= link_to @mailbox.site_url, url_link(@mailbox.site_url), target: '_blank' %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mailbox.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @mailbox.note %>
</p>

<p>
  <strong>Form body:</strong>
  <figure class="highlight">
    <%= form_code(@mailbox.token) %>
  </figure>
</p>

<hr/>


<div class="field is-grouped">
  <p class="control">
    <%= link_to "Delete this mailbox", @mailbox, method: :delete, class: "button is-outlined", data: { confirm: "Are you sure?" } %>
  </p>
  <p class="control">
    <%= link_to "Clear all messages", clear_messages_mailbox_path(@mailbox), method: :post, class: "button is-outlined", data: { confirm: "Are you sure?" } %>
  </p>
</div>
