<div class="columns">
  <div class="column">
    <p>
      <strong>Name:</strong>
      <%= @mailbox.name %>
    </p>

    <p>
      <strong>Allowed fields:</strong>
      <%= @mailbox.allowed_fields %>
    </p>

    <p>
      <strong>Redirect URL:</strong>
      <%= link_to @mailbox.site_url, url_link(@mailbox.site_url), target: '_blank' %>
    </p>

    <p>
      <strong>Reply to submitter:</strong>
      <%= @mailbox.should_reply ? "yes" : "no" %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @mailbox.note %>
    </p>
  </div>
</div>

<div class="field is-grouped">
  <p class="control">
    <%= link_to "Delete this mailbox", @mailbox, method: :delete,
      class: "button is-small is-outlined",
      data: { confirm: "The mailbox and all its messages will be deleted. Are you sure?" } %>
  </p>
  <p class="control">
    <%= link_to "Clear all messages", clear_messages_mailbox_path(@mailbox),
      method: :post, class: "button is-small is-outlined",
      data: { confirm: "All messages of this mailbox will be deleted. Are you sure?" } %>
  </p>
</div>

<hr>

<div class="columns">
  <div class="column">
    <p>
      <article class="message is-info">
        <div class="message-body">
          Here's your form code. Update it where necessery but keep the first 2 lines and the hidden div to prevent spam.
        </div>
      </article>

      <figure class="highlight">
        <%= form_code(@mailbox.token, @mailbox.allowed_fields) %>
      </figure>
    </p>
  </div>
</div>

<hr>

<div class="columns">
  <div class="column">
    <div class="content is-small">
      <h1 class="title is-5">api</h1>
      <p>With the existing api you can fetch your mailboxes and messages.</p>

      <p>
        Make a post request to <code>formiqo.com/auth</code> with the following body
        <code>{"auth": {"email": "your_email", "password": "you_password"}}</code>
      </p>
      <p>If the credentials are correct, you'll get a response with your jwt token <code>"jwt": "token"</code></p>

      <p>Now you can fetch a list of your mailboxes or a specific mailbox with:</p>

      <ul>
        <li>GET <code>formiqo.com/api/mailboxes</code> - returns a list of all mailboxes</li>
        <li>GET <code>formiqo.com/api/mailboxes/c7536b6acd26bd47</code> - returns a mailbox with nested messages</li>
      </ul>

      <p>Don't forget to set the following headers:
        <code>Content-Type: application/json </code>,
        <code>Authorization: your_jwt_token </code>
      </p>

      </p>
    </div>
  </div>
</div>
