<div class="columns">
  <div class="column">
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Is admin:</strong>
      <%= @user.admin ? 'Y' : 'N' %>
    </p>

    <p>
      <strong>Subscription ends:</strong>
      <%= subscription_status(@user) %> /
      <%= @user.subscription.end_date %>
    </p>

    <p>
      <strong>Mailboxes:</strong>
      <%= @user.mailboxes_count %> out of <%= @user.plan.n_mailboxes %>
    </p>

  </div>
</div>
