<nav class="navbar ">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="<%= image_path('logo.png') %>" alt="formiqo" width="112" height="28">
    </a>

    <div class="navbar-burger burger" data-target="navMenuExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Home", mailboxes_path, class: "navbar-item" %>
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          More
        </div>
        <div id="moreDropdown" class="navbar-dropdown ">

          <%= link_to pages_help_path, class: "navbar-item", id: "link-to-pay" do %>
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Help</strong>
                    <br>
                    <small>Overview of some aspects</small>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
          <%= link_to subscriptions_path, class: "navbar-item", id: "link-to-pay" do %>
          <div class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <p>
                  <strong>Subscription Settings</strong>
                </p>
              </div>
            </div>
          </div>
          <% end %>
          <%= link_to edit_user_registration_path, class: "navbar-item" do %>
          <div class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <p>
                  <strong>Account Settings</strong>
                  <br>
                  <small></small>
                </p>
              </div>
            </div>
          </div>
          <% end %>

          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete, class: "navbar-item" do %>
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Sign out</strong>
                    <br>
                    <small></small>
                  </p>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <% if user_signed_in? %>
    <% if can? :manage, :all %>
      <div class="navbar-end">
        <%= link_to "Admin", admin_users_url, class: "navbar-item" %>
      </div>
    <% end %>
    <% end %>


  </div>
</nav>
