<!DOCTYPE html>
<html>
  <head>
    <title>Formiqo</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <section class="hero is-fullheight is-dark is-bold">
        <div class="hero-body">
          <div class="container">

            <div class="columns is-vcentered">
              <div class="column is-4 is-offset-4">
                <%= render 'layouts/alerts' %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>

      </section>

  </body>
</html>
