<!DOCTYPE html>
<html>
  <head>
    <title>Formiqo</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <section class="hero is-fullheight is-90vh is-default is-bold">
      <div class="hero-head">
        <div class="container">
          <nav class="navbar ">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="<%= image_path('logo.png') %>" alt="formiqo" width="112" height="28">

              </a>

              <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
                <span class="icon" style="color: #333;">
                  <i class="fa fa-github"></i>
                </span>
              </a>

              <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
                <span class="icon" style="color: #55acee;">
                  <i class="fa fa-twitter"></i>
                </span>
              </a>

              <div class="navbar-burger burger" data-target="navMenuExample">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>

            <div id="navMenuExample" class="navbar-menu">

              <div class="navbar-end">
                <%= link_to "Help", pages_help_path, class: "navbar-item is-hidden-desktop-only" %>

                <div class="navbar-item">
                  <div class="field is-grouped">
                    <p class="control">
                      <%= link_to new_user_session_path, class: "button" do %>
                      <span>
                        Log In
                      </span>
                      <% end %>
                    </p>
                    <p class="control">
                      <%= link_to new_user_registration_path, class: "button is-primary" do %>
                        <span>Sign Up</span>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>

        <div class="hero-body">
          <div class="container">

            <div class="columns is-vcentered">
              <div class="column is-4 is-offset-4">
                <%= render 'layouts/alerts' %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>

      </section>

  </body>
</html>
