<!DOCTYPE html>
<html>
  <head>
    <title>Formiqo</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container is-fluid">
      <div class="columns">
        <div class="column">
          <%= render "layouts/nav" %>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-2">
            <%= render "layouts/menu" %>
          </div>
          <div class="column">

            <div class="tabs is-toggle">
              <ul>
                <li class="<%= 'is-active' if current_page?(mailbox_path(@mailbox)) %>">
                  <%= link_to mailbox_path(@mailbox) do %>
                    <span class="icon is-small"><i class="fa fa-info"></i></span>
                    <span>Setup</span>
                  <% end %>
                </li>
                <li class="<%= 'is-active' if current_page?(mailbox_messages_path(@mailbox)) %>">
                  <%= link_to mailbox_messages_path(@mailbox) do %>
                    <span class="icon is-small"><i class="fa fa-envelope-o"></i></span>
                    <span>Messages</span>
                  <% end %>
                </li>
                <li class="<%= 'is-active' if current_page?(edit_mailbox_path(@mailbox)) %>">
                  <%= link_to edit_mailbox_path(@mailbox) do %>
                    <span class="icon is-small"><i class="fa fa-sliders"></i></span>
                    <span>Edit</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to mailbox_messages_path(@mailbox, format: :csv) do %>
                    <span class="icon is-small"><i class="fa fa-table"></i></span>
                    <span>Export to CSV</span>
                  <% end %>
                </li>
              </ul>
            </div>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
